.flashcard {
  height: 300px;  
  width: 500px; 
  margin: 10% auto;      
  border: 1px solid gray;
}

.flipped, .back:hover {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);                  
}

.front, .back:hover {
  position: absolute;                    
  -webkit-backface-visibility: hidden;           
  height: 300px;                                   
  width: 500px;
  text-align: center;                                                  
}

.front p, .back p:hover {
  margin-top: 25%;                                                      
  font-size: 14px;
}
