.flashcard {
  height: 300px;  
  width: 500px; 
  margin: 10% auto;      
  border: 1px solid gray;
} 

.flipped: hover {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);                  
}

.front:hover {
  position: absolute;                    
  height: 300px;                                   
  width: 500px;
  text-align: center;                                                  
}
.back: {
  position: absolute;                    
  height: 300px;                                   
  width: 500px;
  text-align: center;  
  visibility:hidden;
}
.front p:hover, .back p {
  margin-top: 25%;                                                      
  font-size: 14px;
}
