          body {
                    background-image: url("http://www.wallpaperhi.com/thumbnails/detail/20130429/landscapes%20outer%20space%20dark%20night%20moon_www.wallpaperhi.com_80.jpg");
          }
          h1 {
              color: brown;
              font-size: 19pt;
          }
          p {
              color: turquoise;
              font-size: 16pt;
          }
          h2 {color: rgb(255,180,70);
              font-size: 21pt;
          }
 
