
h1 {font-size:35pt;
color: navy;
}
h3,ul {font-size: 16pt;
  color:white;
}
#dkm {
  color:white;
}
body {
  background-image: url("http://awesomewallpapers.files.wordpress.com/2009/05/mac-3.jpg");
}
tr#dmm {
  text-decoration: line-through;
}
.drinks {
background-color: silver;
}
.clothing {
background-color: gold;
}
.gifts {
background-color: turquoise;
}
.hygiene {
background-color: lime;
}
.food {
background-color: hotpink;
}
 .done {
  
  text-decoration:line-through;
 }
